{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="Logo van Accessibility">
          </a>
            <div class="position-sticky">
              {% block menu_active %}
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/beheerder/dashboard" class="nav-link active" aria-current="page">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/beheerder/onderzoeken" class="nav-link menu_text" >
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a  href="/beheerder/users" class="nav-link menu_text">
                    Gebruikers
                  </a>
                </li>
              </ul>
              {% endblock %}
              <hr>
            </div>
        </nav>


        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
         <div id="dashboard_overflow">
          <main>
          <div class="text-center" style="padding-top: 20px;">
            <div>
                <div id="search" style="height: 20px;">
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" aria-label="dropdown menu met dashboard, profiel en loguit opties">
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="/beheerder/dashboard">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                </div>
             <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>
            </div>
            {% block inner_content %}{% endblock %}
            </div>
          </main>
         </div>
        </div>
    </div>
</div>
{% endblock %}