{% extends "beheerder/inner_base.html" %}
{% block title %}Alle gebruikers{% endblock %}
{% block menu_active %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/beheerder/dashboard" class="nav-link menu_text" >
      Dashboard
    </a>
  </li>
  <li>
    <a href="/beheerder/onderzoeken" class="nav-link menu_text" >
      Onderzoeken
    </a>
  </li>
  <li>
    <a  href="/beheerder/users" class="nav-link active" aria-current="page">
      Gebruikers
    </a>
  </li>
</ul>
{% endblock %}
{% block inner_content %}
<script>
// applying a filter to the rows of a table based on selected filter type
    function applyFilter(){
        var filterType = document.getElementById('filterType').value;
        var searchText = document.getElementById('search-input').value.toLowerCase();

        var rows = document.querySelectorAll('tbody tr');
        rows.forEach(function (row) {
            var isStaff = row.cells[2].innerText.toLowerCase() === 'true';
            var userName = row.cells[0].innerText.toLowerCase() + ' ' + row.cells[1].innerText.toLowerCase();

            if (filterType === 'is_staff' && !isStaff) {
             row.style.display = 'none';
            } else if (searchText && !userName.includes(searchText)){
                row.style.display = 'none';
            } else {
                row.style.display = '';
            }
        }
    );
    }

// When values typed in search bar automatically change user table
$(document).ready(function () {
    $('#search-input').on('input', function () {
        var query = $(this).val();
        $.ajax({
            type: 'GET',
            url: '/beheerder/search_users/',
            data: {
                'query': query
            },
            success: function (data) {
                updateUsersTable(data.users);
            },
            error: function (xhr, errmsg, err) {
                console.log('Error:', errmsg);
            }
        });
    });
});
// updating the user table function
function updateUsersTable(users) {
    var tableBody = $('#users-table tbody');
    tableBody.empty();
    console.log(users[0]);
    users.forEach(function (user) {
            var row = '<tr>' +
                '<td>' + user.first_name + '</td>' +
                '<td>' + user.last_name + '</td>' +
                '<td>' + user.is_staff + '</td>' +
                '<td>' + user.date_joined + '</td>' +
                '<td>' +
                '<a href="/beheerder/user_edit/' + user.id + '" class="btn btn-primary">Bewerken</a>' +
                '<a href="user_delete/' + user.id + '" class="btn btn-danger">Verwijderen</a>' +
                '</td>' +
                '</tr>';
            tableBody.append(row);
    });
}



</script>
          <br>
          <div class="d-flex justify-content-center align-items-center" >
            <div id="card" class="container m-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="p-3 text-center">Gebruikers</h2>
                    <a href="/beheerder/admin_create"><button class="btn btn-success me-3">Maak admin aan</button></a>
                </div>
                
                <div class="row mb-3">
                    <!-- Filteren op beheerder -->
                    <div class="col-md-6">
                        <form id="filterForm" style="padding-left: 15px;">
                            <div class="input-group">
                                <label for="filterType" class="me-2 align-self-center">Filter op:</label>
                                <select id="filterType" class="form-select">
                                    <option value="all">Alle Gebruikers</option>
                                    <option value="is_staff">Is Beheerder</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Zoeken op keywords -->
                    <div class="col-md-6">
                        <div class="input-group" style="padding-right: 15px;">
                            <label for="search-input" class="me-2 align-self-center">Zoek op keywords:</label>
                            <input type="text" id="search-input" class="form-control" placeholder="Zoeken...">
                        </div>
                    </div>
                </div>
                

                
                <!-- Tabel met loop user uit db halen -->
                <table id="users-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Voornaam</th>
                            <th scope="col">Achternaam</th>
                            <th scope="col">Is Beheerder</th>
                            <th scope="col">Datum Deelname</th>
                            <th scope="col">Actie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users %}
                            <tr>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.is_staff }}</td>
                                <td>{{ user.date_joined }}</td>
                                <td>
                                    <a href="{% url 'user_edit' user.id %}" class="btn btn-primary">Bewerken</a>
                                    <a href="{% url 'user_delete' user.id %}" class="btn btn-danger">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}