{% extends "beheerder/inner_base.html" %}
{% load static %}
{% block inner_content %}
<!-- verwijderen van een onderzoek -->
  <br><br>
  <h2 style="color: red;">Weet je zeker dat je het onderzoek wilt verwijderen?</h2>
  <p>
    <strong>Titel:</strong> {{ onderzoek.titel }}<br>
    <strong>Omschrijving:</strong> {{ onderzoek.omschrijving }}<br>
  </p>
  <form method="post" action="{% url 'verwijder_onderzoek' onderzoek.onderzoeks_id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Verwijderen</button>
    <a href="{% url 'onderzoeken' %}" class="btn btn-warning">Annuleren</a>
  </form>

{% endblock %}
