{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}Onderzoeken{% endblock %}


{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="Logo van Accessibility">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/ervaringsdeskundige/dashboard"  class="nav-link menu_text">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/ervaringsdeskundige/onderzoeken" class="nav-link active" aria-current="page">
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a href="registered_investigations" class="nav-link menu_text">
                    Ingeschreven onderzoeken
                  </a>
                </li>
                <li>
                  <a href="/ervaringsdeskundige/completed_investigations" class="nav-link menu_text">
                    Afgeronde onderzoeken
                  </a>
                </li>
              </ul>
              <hr>
            </div>
        </nav>

        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div class="text-center" style="padding-top: 20px;">
            <div>
                  <div id="search" style="height: 20px;">
                    <a  style="margin-right: 20px;" onclick="toggleTheme()" tabindex="0"><i class="fa-solid fa-circle-half-stroke"></i>      Switch thema </a>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" aria-label="dropdown menu met dashboard, profiel en loguit opties"  >
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/edit_profile">Profiel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                  </div>
                  <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>

                  <div id="approved_alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="notification-container" class="mb-0 ml-auto"></p>
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
          </div>
          </div>
          <div style="padding-top: 20px;">
            <div id="custom_cont"  class="m-4 p-4">
              <table class="table custom_table p-3">
                <h2 aria-describedby="table_reasearch_discription" class="p-2 text-center">Onderzoeken</h2>
                <p id="table_reasearch_discription" class="text-center" style="margin-left: 10px;"><em>Deze onderzoeken zijn afgestemt op jou beschikbaarheid, ervaring en leeftijd</em></p>
                  <thead>
                  <tr>
                      <th class="float-left" scope="col">Titel</th>
                      <th class="float-left" scope="col">Omschrijving</th>
                      <th class="float-left" scope="col">Beloning</th>
                      <th class="float-left" scope="col">Beperking</th>
                      <th class="text-center" scope="col">Aanmelden</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for investigation_id, data in investigations.items %}
                        <tr>
                    <td><a href="inspect_investigation/{{ data.onderzoek.onderzoeks_id }}">{{ data.onderzoek.titel }}</a></td>
                    <td>{{ data.onderzoek.omschrijving }}</td>
                    <td>{% if data.onderzoek.met_beloning == 1 %}
                            {{ data.onderzoek.beloning }}
                        {% else %}
                            Geen beloning beschikbaar
                        {% endif %}</td>
                    <td>
                      <div style="width: 200px;" class="text-wrap">
                          {% for limitation in data.beperkingen %}
                              {{ limitation.omschrijving }}{% if not forloop.last %},{% endif %}
                          {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">
                        <form method="post" action="investigation/{{ data.onderzoek.onderzoeks_id }}">
                          {% csrf_token %}
                          {% if data.status == 0 %}
                          <button type="submit" class="btn btn-primary">Meld aan</button>
                          {% endif %}
                        </form>
                        {% if data.status == 1  %}
                        <button class="btn btn-success">Ingeschreven</button>
                        {% endif %}
                    {% if data.status == 2 %}
                        <button class="btn btn-success">Lopend</button>
                        {% endif %}
                    </td>
                  </tr>
                    {% endfor %}
                  </tbody>
                  
              </table>
          </div>
            </div>
      </main>
    </div>
    </div>
    </div>
</div>
{% endblock %}


