{% extends "ervaringsdeskundige/base.html" %}
{% load static %}
{% block title %}Onderzoek inschrijving succesvol{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 94vh;">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
          <a href="#">
            <img style="margin: 20px; margin-left: 5px;" src="{% static 'images/logo_accessibility.png' %}" width="200px" alt="Logo van Accessibility">
          </a>
            <div class="position-sticky">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="dashboard"  class="nav-link menu_text">
                    Dashboard
                  </a>
                </li>
                <li>
                  <a href="/ervaringsdeskundige/onderzoeken" class="nav-link active" aria-current="page">
                    Onderzoeken
                  </a>
                </li>
                <li>
                  <a href="registered_investigations" class="nav-link menu_text">
                    Ingeschreven onderzoeken
                  </a>
                </li>
                <li>
                  <a href="/ervaringsdeskundige/completed_investigations" class="nav-link menu_text">
                    Afgeronde onderzoeken
                  </a>
                </li>
              </ul>
              <hr>
            </div>
        </nav>

        <div style="height: 94vh;" id="dashboard_main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="dashboard_overflow">
        <main >
          <div class="text-center" style="padding-top: 20px;">
            <div>
                  <div id="search" style="height: 20px;">
                    <a  style="margin-right: 20px;" onclick="toggleTheme()" tabindex="0"><i class="fa-solid fa-circle-half-stroke"></i>      Switch thema </a>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" aria-label="dropdown menu met dashboard, profiel en loguit opties">
                        <i class="fa-solid fa-user" style="padding-right: 15px;" width="32" height="32" class="rounded-circle me-2"></i>
                        <strong>{{ user.first_name}} {{ user.last_name}}</strong>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/edit_profile">Profiel</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/ervaringsdeskundige/logout">Log uit</a></li>
                      </ul>
                    </div>
                  </div>
                  <h1 style="margin: 10px; margin-left: 40px;" class="text-start extra-bold-header">Welkom {{ user.first_name }}👋!</h1>

                  <div id="approved_alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <p id="notification-container" class="mb-0 ml-auto"></p>
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
          </div>
          </div>
          <div class="text-center" style="padding-top: 20px;">
          </div>
          <div class="d-flex align-items-center justify-content-center m-4 p-1">
              <div class="d-flex flex-column align-items-center justify-content-center">
              <h2 class="h1">U bent succesvol <strong>ingeschreven</strong> voor dit onderzoek✅</h2><br>
              <h3 class="h5"><em>Uw verzoek wordt zo snel mogelijk gekeurd...</em></h3><br>
              <p><em>Let op: het herhaaldelijk indienen van hetzelfde verzoek versnelt de verwerking niet. <br> We vragen om je begrip en geduld, terwijl we alle aanvragen zorgvuldig behandelen. <br> Dank je wel.</em><br></p>
              <iframe src="https://giphy.com/embed/23LYMTOwp0gdFx3xZE" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          </div>
          </div>
            </div>
      </main>
      </div>
      </div>
    </div>
</div>
{% endblock %}

