{% extends "home/base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
  <br><br><br>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welkom bij Accessibility!</h1>
    <p class="lead">Samen met onze partners en klanten werken we aan een inclusieve samenleving die toegankelijk is voor iedereen.</p>
    <p>
      <a href="/login" class="btn btn-primary my-2">Inloggen</a>
      <a href="/ervaringsdeskundige/register" class="btn btn-secondary my-2">Registreren</a>
    </p>
  </div>
</section>
</div>
{% endblock %}