{% extends "beheerder/inner_base.html" %}
{% block title %}{{ data.titel }} - Inzien{% endblock %}
{% block menu_active %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/beheerder/dashboard" class="nav-link active" aria-current="page">
      Dashboard
    </a>
  </li>
  <li>
    <a href="/beheerder/onderzoeken" class="nav-link menu_text" >
      Onderzoeken
    </a>
  </li>
  <li>
    <a  href="/beheerder/users" class="nav-link menu_text">
      Gebruikers
    </a>
  </li>
</ul>
{% endblock %}
{% block inner_content %}
<br>
<div class="container rounded-top border border-bottom-0 bg-primary-subtle text-center">
    <div class="col text-center position-relative">
        <H2 class="pt-2">
            {{ data.titel }} - Id: {{ data.onderzoeks_id}} 
        </H2>
        <div class="position-absolute buttons">
            <button type="button" class="btn btn-primary" onclick="location.href='{{ data.onderzoeks_id }}/edit';">Bewerk</button>
            <a href="{% url 'verwijder_onderzoek' data.onderzoeks_id %}" class="btn btn-primary">Verwijder</a>
        </div>
        <H2 class="mb-1 h6">Verzocht door: {{ data.organisatie.naam }}</H2>
        <H2 class="m-0 pb-1 h6">
            {% if data.status == 1 %}
            Status: In afwachting
            {% elif data.status == 2 %}
            Status: Goedgekeurd
            {% elif data.status == 3 %}
            Status: Afgekeurd
            {% elif data.status == 4 %}
            Status: Gesloten
            {% elif data.status == 5 %}
            Status: Verwijderd
            {% endif %}
        </H2>
    </div>
</div>
<div class="container border rounded-bottom bg-body text-start" style="min-height: 25rem;">
    <div class="row m-1 border-bottom">
        <div class="col-md-auto">
            <H2 class="h3">Omschrijving</H2>
            <div class="container-fluid">
                <p class="text-start p-0">{{ data.omschrijving }}</p>
            </div>
        </div>
    </div>
    <div class="row m-1 border-bottom">
        <H2 class="h3">Informatie doelgroep</H2>
        <div class="col-md-auto border-end">
            <H3 class="h5">Leeftijd:</H3>
            <div class="container-fluid">
                <p>
                    {{ data.doelgroep_leeftijd_van }} - {{ data.doelgroep_leeftijd_tot }} jaar oud
                </p>
            </div>
        </div>
        <div class="col-md-auto border-end">
            <H3 class="h5">Beperkingen:</H3>
            <div class="container-fluid">
                <p>
                {% for limitation in limitations %}
                    {{ limitation.omschrijving }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    <div class="row m-1 border-bottom">
        <H2 class="h3">Factuele informatie</H2>
        <div class="col-md-auto border-end">
            <H3 class="h5">Soort onderzoek:</H3>
            <div class="container-fluid">
                <p>
                    {% if data.soort_onderzoek == 1 %}
                    Telefonisch
                    {% elif data.soort_onderzoek == 2 %}
                    Via internet
                    {% elif data.soort_onderzoek == 3 %}
                    Op locatie
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-md-auto border-end">
            <H3 class="h5">Locatie:</H3>
            <div class="container-fluid">
                <p>{{ data.locatie }}</p>
            </div>
        </div>
        <div class="col-md-auto border-end">
            <H3 class="h5">Beloning:</H3>
            <div class="container-fluid">
                <p>
                    {% if data.met_beloning == 0 %}
                    Nee
                    {% elif data.met_beloning == 1 %}
                    Ja - {{ data.beloning }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-md-auto border-end">
            <H3 class="h5">Datum:</H3>
            <div class="container-fluid">
                <p>{{ data.datum_vanaf }} - {{ data.datum_tot }}</p>
            </div>
        </div>
    </div>
    <div class="row m-1 border-bottom">
        <H2 class="h3">Toevoegende informatie</H2>
        <div class="col-md-auto border-end">
            <H3 class="h5">Beheerder opmerkingen:</H3>
            <div class="container-fluid">
                <p>
                    {% if data.opmerkingen_beheerder == NULL %}
                        Leeg
                    {% else %}
                        {{ data.opmerkingen_beheerder }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}